
/* commons */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: black;
}

/* inizio header */

header{
    height: 50px;
    text-align: right;
    position:fixed;
    position: relative;
}

header a {
    padding: 5px;
    background-image: linear-gradient(180deg, rgb(87, 86, 86), rgb(37, 37, 37));
    color: white;
    border: 0;
    border-radius: 5px;
    margin: 10px 0 0 10px;
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    filter: brightness(160%);
}

/* fine header */
/* inizio main */

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    height: calc(100vh - 100px);    
}

.container {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    width: calc(100% / 5 - 24px);
    height: calc(100% / 5 - 24px);
    margin: 3px;
    color: white;
    position: relative;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;

}

.box span+span, i{
    padding: 2px;
    font-size: 14px;
    background-color: rgba(1, 1, 1, 0.4);

}

/* fine main */
/* inizio footer */

footer{
    height: 50px;
    display: flex;
    justify-content: space-between;

}

footer, footer *{
    background-color: rgb(34, 34, 34);

}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 14px;
    margin: 0 15px;
}

.left,
.footer-main,
.right {
    display: flex;
    align-items: center;
}

.right button {
    height: 100%;
    background-color: rgba(128, 128, 128, 0.699);
    color: red;
    border: 1px solid black;
    padding: 0 10px;
}

.green{
    color: lime;
}

/* fine footer */