
/* commons */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: black;
}

/* inizio header */

header{
    height: 50px;
    text-align: right;
    position:fixed;
    position: relative;
    padding: 5px 10px;
}

header a{
    padding: 5px;
    background-image: linear-gradient(180deg, rgb(87, 86, 86), rgb(37, 37, 37));
    color: white;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

header i{
    background-image: linear-gradient(180deg, rgb(87, 86, 86), rgb(37, 37, 37));
}

header a:hover{
    filter: brightness(160%);
}

/* fine header */
/* inizio main */

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    height: calc(100vh - 100px);    
}

.container {

    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    width: calc(100% / 5 - 24px);
    height: calc(100% / 5 - 24px);
    margin: 3px;
    color: white;
    position: relative;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(1, 1, 1, 0.5);
}

.name *{
    background-color: rgba(1, 1, 1, 0.5);
    padding: 2px;
    font-size: 13px;
    display: inline-block;
    color: rgba(255, 255, 255, 0.9);    
}

.name i{
    color: rgba(240, 23, 23, 1);
}



/* fine main */
/* inizio footer */

footer{
    height: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

footer, footer *{
    background-color: rgb(34, 34, 34);

}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 13px;
    margin: 0 15px;
}

.icon i{
    margin-bottom: 3px;
}

.icon:hover *{
    filter: brightness(170%);
    border-radius: 50%;
    cursor: pointer;
}

.left,
.footer-main,
.right {
    display: flex;
    align-items: center;
    text-align: center;
}

.right button {
    height: 100%;
    background-color: rgba(128, 128, 128, 0.3);
    color: rgba(255, 24, 24, 0.87);
    font-weight: bold;
    padding: 0 10px;
    border: none;
}

.green{
    color: lime;
}

.icon i{
    font-size: 20px;
}

/* fine footer */